[icon-id="10001"]{width:78px;height:78px;background-position:-648px -620px}
[icon-id="10002"]{width:78px;height:78px;background-position:-729px -620px}
[icon-id="10003"]{width:78px;height:78px;background-position:-810px -620px}
[icon-id="10004"]{width:78px;height:78px;background-position:-891px -620px}
[icon-id="10005"]{width:78px;height:78px;background-position:-405px -539px}
[icon-id="10006"]{width:78px;height:78px;background-position:-405px -458px}
[icon-id="10007"]{width:78px;height:78px;background-position:-405px -296px}
[icon-id="10008"]{width:78px;height:78px;background-position:-729px -539px}
[icon-id="10009"]{width:78px;height:78px;background-position:-405px -215px}
[icon-id="10010"]{width:78px;height:78px;background-position:-405px -134px}
[icon-id="10011"]{width:78px;height:78px;background-position:-405px -53px}
[icon-id="10012"]{width:78px;height:78px;background-position:-486px -539px}
[icon-id="10013"]{width:78px;height:78px;background-position:-567px -539px}
[icon-id="10014"]{width:78px;height:78px;background-position:-648px -539px}
[icon-id="10015"]{width:78px;height:78px;background-position:-567px -620px}
[icon-id="10016"]{width:78px;height:78px;background-position:-405px -377px}
[icon-id="10017"]{width:78px;height:78px;background-position:-486px -620px}
[icon-id="10018"]{width:78px;height:78px;background-position:-891px -701px}
[icon-id="10019"]{width:78px;height:78px;background-position:-648px -701px}
[icon-id="10020"]{width:78px;height:78px;background-position:-729px -701px}
[icon-id="10021"]{width:78px;height:78px;background-position:-810px -701px}
[icon-id="10022"]{width:78px;height:78px;background-position:-405px -701px}
[icon-id="10023"]{width:78px;height:78px;background-position:-486px -701px}
[icon-id="10024"]{width:78px;height:78px;background-position:-567px -701px}
[icon-id="10025"]{width:78px;height:78px;background-position:-324px -620px}
[icon-id="10026"]{width:78px;height:78px;background-position:-324px -53px}
[icon-id="10027"]{width:78px;height:78px;background-position:-324px -539px}
[icon-id="10028"]{width:78px;height:78px;background-position:-324px -458px}
[icon-id="10029"]{width:78px;height:78px;background-position:-324px -377px}
[icon-id="10030"]{width:78px;height:78px;background-position:-324px -296px}
[icon-id="10031"]{width:78px;height:78px;background-position:-324px -215px}
[icon-id="10032"]{width:78px;height:78px;background-position:-324px -134px}
[icon-id="10033"]{width:78px;height:78px;background-position:-405px -620px}
[icon-id="10034"]{width:78px;height:78px;background-position:-891px -539px}
[icon-id="10035"]{width:78px;height:78px;background-position:-648px -377px}
[icon-id="10036"]{width:78px;height:78px;background-position:-486px -458px}
[icon-id="10037"]{width:78px;height:78px;background-position:-891px -377px}
[icon-id="10038"]{width:78px;height:78px;background-position:-648px -296px}
[icon-id="10039"]{width:78px;height:78px;background-position:-648px -215px}
[icon-id="10040"]{width:78px;height:78px;background-position:-648px -134px}
[icon-id="10041"]{width:78px;height:78px;background-position:-648px -53px}
[icon-id="10042"]{width:78px;height:78px;background-position:-729px -296px}
[icon-id="10043"]{width:78px;height:78px;background-position:-891px -296px}
[icon-id="10044"]{width:78px;height:78px;background-position:-810px -53px}
[icon-id="10045"]{width:78px;height:78px;background-position:-729px -215px}
[icon-id="10046"]{width:78px;height:78px;background-position:-729px -134px}
[icon-id="10047"]{width:78px;height:78px;background-position:-729px -53px}
[icon-id="10048"]{width:78px;height:78px;background-position:-810px -215px}
[icon-id="10049"]{width:78px;height:78px;background-position:-891px -215px}
[icon-id="10050"]{width:78px;height:78px;background-position:-810px -134px}
[icon-id="10051"]{width:78px;height:78px;background-position:-810px -377px}
[icon-id="10052"]{width:78px;height:78px;background-position:-810px -296px}
[icon-id="10053"]{width:78px;height:78px;background-position:-729px -377px}
[icon-id="10054"]{width:78px;height:78px;background-position:-648px -458px}
[icon-id="10055"]{width:78px;height:78px;background-position:-486px -377px}
[icon-id="10056"]{width:78px;height:78px;background-position:-486px -296px}
[icon-id="10057"]{width:78px;height:78px;background-position:-486px -215px}
[icon-id="10058"]{width:78px;height:78px;background-position:-486px -134px}
[icon-id="10059"]{width:78px;height:78px;background-position:-486px -53px}
[icon-id="10060"]{width:78px;height:78px;background-position:-567px -458px}
[icon-id="10061"]{width:78px;height:78px;background-position:-729px -458px}
[icon-id="10062"]{width:78px;height:78px;background-position:-567px -53px}
[icon-id="10063"]{width:78px;height:78px;background-position:-810px -458px}
[icon-id="10064"]{width:78px;height:78px;background-position:-891px -458px}
[icon-id="10065"]{width:78px;height:78px;background-position:-567px -377px}
[icon-id="10066"]{width:78px;height:78px;background-position:-567px -296px}
[icon-id="10067"]{width:78px;height:78px;background-position:-567px -215px}
[icon-id="10068"]{width:78px;height:78px;background-position:-567px -134px}
[icon-id="10069"]{width:78px;height:78px;background-position:-324px -701px}
[icon-id="10070"]{width:78px;height:78px;background-position:-810px -539px}
[icon-id="10071"]{width:78px;height:78px;background-position:-243px -53px}
[icon-id="10072"]{width:78px;height:78px;background-position:-162px -863px}
[icon-id="10073"]{width:78px;height:78px;background-position:-648px -944px}
[icon-id="10074"]{width:78px;height:78px;background-position:-729px -944px}
[icon-id="10075"]{width:78px;height:78px;background-position:-810px -944px}
[icon-id="10076"]{width:78px;height:78px;background-position:-891px -944px}
[icon-id="10077"]{width:78px;height:78px;background-position:-81px -863px}
[icon-id="20001"]{width:78px;height:78px;background-position:-81px -782px}
[icon-id="20002"]{width:78px;height:78px;background-position:-81px -620px}
[icon-id="20003"]{width:78px;height:78px;background-position:-81px -53px}
[icon-id="20004"]{width:78px;height:78px;background-position:-81px -539px}
[icon-id="20005"]{width:78px;height:78px;background-position:-81px -458px}
[icon-id="20006"]{width:78px;height:78px;background-position:-81px -377px}
[icon-id="20007"]{width:78px;height:78px;background-position:-81px -296px}
[icon-id="20008"]{width:78px;height:78px;background-position:-81px -215px}
[icon-id="20009"]{width:78px;height:78px;background-position:-81px -134px}
[icon-id="20010"]{width:78px;height:78px;background-position:-567px -944px}
[icon-id="20011"]{width:78px;height:78px;background-position:-81px -701px}
[icon-id="20012"]{width:78px;height:78px;background-position:-486px -944px}
[icon-id="20013"]{width:78px;height:78px;background-position:-0px -377px}
[icon-id="20014"]{width:78px;height:78px;background-position:-0px -863px}
[icon-id="20015"]{width:78px;height:78px;background-position:-0px -782px}
[icon-id="20016"]{width:78px;height:78px;background-position:-0px -701px}
[icon-id="20017"]{width:78px;height:78px;background-position:-0px -620px}
[icon-id="20018"]{width:78px;height:78px;background-position:-0px -539px}
[icon-id="20019"]{width:78px;height:78px;background-position:-0px -458px}
[icon-id="20020"]{width:78px;height:78px;background-position:-0px -296px}
[icon-id="20021"]{width:78px;height:78px;background-position:-324px -944px}
[icon-id="20022"]{width:78px;height:78px;background-position:-0px -215px}
[icon-id="20023"]{width:78px;height:78px;background-position:-0px -134px}
[icon-id="20024"]{width:78px;height:78px;background-position:-0px -53px}
[icon-id="20025"]{width:78px;height:78px;background-position:-81px -944px}
[icon-id="20026"]{width:78px;height:78px;background-position:-162px -944px}
[icon-id="20027"]{width:78px;height:78px;background-position:-243px -944px}
[icon-id="20028"]{width:78px;height:78px;background-position:-405px -944px}
[icon-id="20029"]{width:78px;height:78px;background-position:-243px -863px}
[icon-id="20030"]{width:78px;height:78px;background-position:-162px -134px}
[icon-id="20031"]{width:78px;height:78px;background-position:-324px -863px}
[icon-id="20032"]{width:78px;height:78px;background-position:-324px -782px}
[icon-id="20033"]{width:78px;height:78px;background-position:-405px -782px}
[icon-id="20034"]{width:78px;height:78px;background-position:-486px -782px}
[icon-id="20035"]{width:78px;height:78px;background-position:-567px -782px}
[icon-id="20036"]{width:78px;height:78px;background-position:-648px -782px}
[icon-id="20037"]{width:78px;height:78px;background-position:-729px -782px}
[icon-id="20038"]{width:78px;height:78px;background-position:-891px -782px}
[icon-id="20039"]{width:78px;height:78px;background-position:-243px -215px}
[icon-id="20040"]{width:78px;height:78px;background-position:-243px -701px}
[icon-id="20041"]{width:78px;height:78px;background-position:-243px -620px}
[icon-id="20042"]{width:78px;height:78px;background-position:-243px -539px}
[icon-id="20043"]{width:78px;height:78px;background-position:-243px -458px}
[icon-id="20044"]{width:78px;height:78px;background-position:-243px -377px}
[icon-id="20045"]{width:78px;height:78px;background-position:-243px -296px}
[icon-id="20046"]{width:78px;height:78px;background-position:-243px -782px}
[icon-id="20047"]{width:78px;height:78px;background-position:-810px -782px}
[icon-id="20048"]{width:78px;height:78px;background-position:-162px -53px}
[icon-id="20049"]{width:78px;height:78px;background-position:-891px -863px}
[icon-id="20050"]{width:78px;height:78px;background-position:-405px -863px}
[icon-id="20051"]{width:78px;height:78px;background-position:-486px -863px}
[icon-id="20052"]{width:78px;height:78px;background-position:-567px -863px}
[icon-id="20053"]{width:78px;height:78px;background-position:-648px -863px}
[icon-id="20054"]{width:78px;height:78px;background-position:-729px -863px}
[icon-id="20055"]{width:78px;height:78px;background-position:-810px -863px}
[icon-id="20056"]{width:78px;height:78px;background-position:-162px -782px}
[icon-id="20057"]{width:78px;height:78px;background-position:-162px -215px}
[icon-id="20058"]{width:78px;height:78px;background-position:-162px -701px}
[icon-id="20059"]{width:78px;height:78px;background-position:-162px -620px}
[icon-id="20060"]{width:78px;height:78px;background-position:-162px -539px}
[icon-id="20061"]{width:78px;height:78px;background-position:-162px -458px}
[icon-id="20062"]{width:78px;height:78px;background-position:-162px -377px}
[icon-id="20063"]{width:78px;height:78px;background-position:-162px -296px}
[icon-id="20064"]{width:78px;height:78px;background-position:-243px -134px}
[icon-id="20065"]{width:78px;height:78px;background-position:-891px -134px}
[icon-id="00000"]{width:78px;height:78px;background-position:-0px -944px}